/* Styles for signup form */
/* div for all form and button form */
#signupForm {
	font-size: 1.6em;
	height: 500px;
	width: 600px;
	margin-left: 480px;
}

/* Поля в форме */
.username {
	border: 2px solid silver;
	width: 450px;
	height: 30px;
	margin-top: 0px;
}

/* название полей в форме */
.field {
	margin-top: 30px;
}

/* button */
.button {
	background-color: green;
	margin-left: 100px;
	margin-top: 30px;
	width: 250px;
	height: 50px;
}

















